<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

    <variable name="exceptionFormat" value="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace,data:maxInnerExceptionLevel=5:innerFormat=shorttype,message,method,stacktrace,data}" />
    <variable name="layoutPrefix" value="${date:format=yyyy-MM-dd_HH\:mm\:ss.fff}" />
    <variable name="layoutSuffix" value="[${level}] [${message}] | ${exceptionFormat}" />

    <targets>
        <target name="memory" xsi:type="Memory" layout="${layoutPrefix} ${layoutSuffix}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="memory" />
    </rules>
</nlog>
